@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    --main-color: #1F2937;
    --complementary-color: #4c5666;
    --accenct-color: #dbf2ff;
    --accenct-color2: #dea01e;

}

.main-color{
    background-color: var(--main-color);
    color: var(--main-color);
}

.text-main-color {
    color: var(--main-color);
}

.bg-main-color {
    background-color: var(--main-color);
}

.complementary-color{
    background-color: var(--complementary-color);
    color: var(--complementary-color);
}

.text-complementary-color {
    color: var(--complementary-color);
}

.bg-complementary-color {
    background-color: var(--complementary-color);
}

.accenct-color{
    background-color: var(--accenct-color);
    color: var(--accenct-color);
}

.text-accenct-color {
    color: var(--accenct-color);
}

.bg-accenct-color {
    background-color: var(--accenct-color);
}

.accenct-color2 {
    background-color: var(--accenct-color2);
    color: var(--accenct-color2);
}

.text-accenct-color2 {
    color: var(--accenct-color2);
}

.bg-accenct-color2 {
    background-color: var(--accenct-color2);
}

.main-theme{
    background-color: var(--main-color);
    color: var(--accenct-color);
}

body {
    background-color: var(--main-color);
}