@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    --main-color: #1F2937;
    --complementary-color: #4c5666;
    --accent-color: #dbf2ff;
    --accent-color2: #dea01e;

}

.main-color{
    background-color: var(--main-color);
    color: var(--main-color);
}

.text-main-color {
    color: var(--main-color);
}

.bg-main-color {
    background-color: var(--main-color);
}

.complementary-color{
    background-color: var(--complementary-color);
    color: var(--complementary-color);
}

.text-complementary-color {
    color: var(--complementary-color);
}

.bg-complementary-color {
    background-color: var(--complementary-color);
}

.accent-color{
    background-color: var(--accent-color);
    color: var(--accent-color);
}

.text-accent-color {
    color: var(--accent-color);
}

.bg-accent-color {
    background-color: var(--accent-color);
}

.accent-color2 {
    background-color: var(--accent-color2);
    color: var(--accent-color2);
}

.text-accent-color2 {
    color: var(--accent-color2);
}

.bg-accent-color2 {
    background-color: var(--accent-color2);
}

.border-accent-color2{
    border-color: var(--accent-color2);
}

.main-theme{
    background-color: var(--main-color);
    color: var(--accent-color);
}

body {
    background-color: var(--main-color);
}